<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<alias name="helloServiceAutowireByType" alias="autowireByType"></alias>

	<bean id="helloServiceByXml" class="com.lexi.service.xml.HelloServiceByXml" autowire="byType">
		<property name="helloServiceAutowireByName" ref="helloServiceAutowireByName"></property>
		<property name="age" value="18"></property>
		<property name="height" value="#{18}"></property>
		<property name="name" value="lexi"></property>
		<property name="size">
			<list>
				<value>1</value>
				<value>2</value>
				<value>4</value>
			</list>
		</property>
	</bean>


	<bean id="parent" abstract="true" autowire="constructor" scope="prototype"></bean>
	<bean id="helloServiceByParent" class="com.lexi.service.xml.HelloServiceByParent" parent="parent"></bean>


	<bean id="testLookUpService" class="com.lexi.service.TestLookUpService">
		<lookup-method name="getHelloService"></lookup-method>
	</bean>

	<bean id="helloServiceFactory" class="com.lexi.service.xml.HelloServiceFactory"></bean>

	<bean id="helloServiceCreateByFactory" factory-bean="helloServiceFactory" factory-method="createHelloServiceCreateByFactory" autowire="constructor">
		<constructor-arg name="age" value="1"></constructor-arg>
	</bean>

	<bean id="helloServiceWithLookupByXml" class="com.lexi.service.xml.HelloServiceWithLookupByXml">
		<lookup-method name="getHelloServiceAutowired1"></lookup-method>
	</bean>

	<bean id="helloServiceCreateByStaticFactory" class="com.lexi.service.xml.HelloServiceStaticFactory" factory-method="createHelloServiceCreateByStaticFactory"></bean>

	<bean id="helloServiceAutowireByName" class="com.lexi.service.autowire.HelloServiceAutowireByName" autowire="byName"></bean>
	<bean id="helloServiceAutowireByType" class="com.lexi.service.autowire.HelloServiceAutowireByType" autowire="byType"></bean>

</beans>